{:deps {borkdude/gh-release-artifact
        #_{:local/root "../gh-release-artifact"}
        {:git/url "https://github.com/borkdude/gh-release-artifact"
         :sha "2f8898d84126a4e922c490f8614211a8b0cf67cd"}}
 :tasks {:requires
         ([babashka.fs :as fs])
         uberjar (clojure "-T:build uber")
         graalvm {:doc "Checks GRAALVM_HOME env var"
                  :task
                  (let [env (System/getenv "GRAALVM_HOME")]
                    (assert env "Set GRAALVM_HOME")
                    env)}
         native-image {:doc "Builds native image"
                       :depends [graalvm uberjar]
                       :task (do
                               (shell (str (fs/file graalvm
                                                    "bin"
                                                    "gu"))
                                      "install" "native-image")
                               (shell (str (fs/file graalvm
                                                    "bin"
                                                    "native-image"))
                                      "-H:Name=pod.garden"
                                      "-jar" "target/standalone.jar"
                                      "--initialize-at-build-time"
                                      "--no-fallback"
                                      "--no-server"))}
         release-artifact babashka.release-artifact/release}}
