{:deps {borkdude/gh-release-artifact
        #_{:local/root "../gh-release-artifact"}
        {:git/url "https://github.com/borkdude/gh-release-artifact"
         :sha "a83ee8da47d56a80b6380cbb6b4b9274048067bd"}}
 :tasks {:requires
         ([babashka.fs :as fs])
         uberjar (clojure "-T:build uber")
         graalvm {:doc "Checks GRAALVM_HOME env var"
                  :task
                  (let [env (System/getenv "GRAALVM_HOME")]
                    (assert env "Set GRAALVM_HOME")
                    env)}
         native-image {:doc "Builds native image"
                       :depends [graalvm uberjar]
                       :task (do
                               (shell (str (fs/file graalvm
                                                    "bin"
                                                    "gu"))
                                      "install" "native-image")
                               (shell (str (fs/file graalvm
                                                    "bin"
                                                    "native-image"))
                                      "-H:Name=pod.garden"
                                      "-jar" "target/standalone.jar"
                                      "--initialize-at-build-time"
                                      "--no-fallback"
                                      "--no-server"
                                      "target/pod-babashka-garden"))}
         release-artifact {:depends [native-image]
                           :task (let [[tag] *command-line-args*
                                       opts {:org "prepor"
                                             :repo "pod-babashka-garden"
                                             :tag tag
                                             :file "target/pod-babashka-garden"}]
                                   (babashka.release-artifact/release opts))}}}
